.root {
	-fx-base: #1d1d1d;
}
 
.titled-pane {
    -fx-animated: true;
    -fx-text-fill: white;
}

.titled-pane .title  {
    -fx-background-radius: 0;
    -fx-font: bold 14px verdana;
	-fx-background-color: #333333;
    -fx-padding: 0.3em 0.833333em 0.35em 0.833333em;
	-fx-alignment: CENTER_LEFT;
}

.titled-pane > .title > .arrow-button .arrow {
	-fx-background-color: white;
}
.titled-pane:expanded > .content {
    -fx-background-color: -fx-box-border, white;
}

.titled-pane:focused > *.title > *.arrow-button *.arrow {
    /* do not highlight the title pane arrow on focus */
    -fx-background-color: white;
}

.titled-pane:focused > *.title > *.arrow-button  {
    /* do not highlight the title pane arrow on focus */
    
}

.tree-cell {
	-fx-border-color: transparent;
	-fx-border-width: 0;
	-fx-indent: 18;
}

.tree-cell:odd {
    /* shade every other line in a tree view */
    -fx-background-color: derive(-fx-control-inner-background,-5%);
}

/* the previous css to shade every other cell overrides the selection 
   colour, so put it back for odd cells */
.tree-view:focused .tree-cell:filled:focused:selected:odd{
    -fx-background-color: -fx-focus-color, -fx-cell-focus-inner-border, -fx-selection-bar;
}

/*  if you have labels within your tree nodes, then make the text light so 
    that it stands out from the selection colour. */
.tree-view:focused .tree-cell:filled:focused:selected:odd .label {
    -fx-text-fill: -fx-light-text-color;
}
.tree-view:focused .tree-cell:filled:focused:selected:even .label {
    -fx-text-fill: -fx-light-text-color;
}

.tool-bar{
    -fx-background-color: #424242;
}

/*******************************************************************************
 *                                                                             *
 * Push Button                                                                 *
 *                                                                             *
 ******************************************************************************/

.button {
    -fx-background-color: 
        #090a0c,
        linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),
        linear-gradient(#20262b, #191d22),
        radial-gradient(center 50% 0%, radius 100%, rgba(114,131,148,0.9), rgba(255,255,255,0));
    -fx-background-radius: 5,4,3,5;
    -fx-background-insets: 0,1,2,0;
    -fx-text-fill: white;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-font-family: "Arial";
    -fx-text-fill: linear-gradient(white, #d0d0d0);
    -fx-font-size: 12px;
    -fx-padding: 10 20 10 20;
}

.button Text {
    -fx-effect: dropshadow( one-pass-box , rgba(0,0,0,0.9) , 1, 0.0 , 0 , 1 );
}

.button:hover {
    -fx-background-color: 
       linear-gradient(#191d22, #20262b);
}

.button:pressed, .button:default:hover:pressed
{
  -fx-background-color: white;
  -fx-text-fill: #1d1d1d;
}

/* make the tooltip a slightly transparent black rectangle with white text */
.tooltip {
    -fx-background-color: black;
	-fx-opacity: 0.6;
    -fx-background-insets: 0,1,2;
    -fx-background-radius: 0;
	-fx-wrap-text:false;
}
.tooltip .label {
	-fx-text-fill: white;
    -fx-font-size: 20px;
}
/* remove the turned page effect */
.page-corner {
    -fx-padding: 0;
    -fx-background-color: null;
    -fx-shape: null;
    -fx-effect: null;
}

.choice-box {
    -fx-background-radius: 0;
}

/* The main scrollbar **track** CSS class  */
 .scroll-bar:horizontal .track,
 .scroll-bar:vertical .track{
	-fx-background-color:transparent;
	-fx-border-color:transparent;
	-fx-background-radius: 0em;
	-fx-border-radius:2em;
}

/* The increment and decrement button CSS class of scrollbar */
.scroll-bar:horizontal .increment-button ,
.scroll-bar:horizontal .decrement-button {
    -fx-background-color:transparent;
	-fx-background-radius: 0em;
	-fx-padding:0 0 10 0;

}

/* The increment and decrement button CSS class of scrollbar */

.scroll-bar:vertical .increment-button ,
.scroll-bar:vertical .decrement-button {

    -fx-background-color:transparent;
	-fx-background-radius: 0em;
	-fx-padding:0 10 0 0;

}

.scroll-bar .increment-arrow, .scroll-bar .decrement-arrow {
	-fx-shape: " ";	
	-fx-padding:0;
}

/* The main scrollbar **thumb** CSS class which we drag every time (movable) */
.scroll-bar:horizontal .thumb, .scroll-bar:vertical .thumb {
    -fx-background-color:derive(black,90%);
	-fx-background-insets: 2, 0, 0;
	-fx-background-radius: 2em;

}

.background {
	-fx-background-image: url('background.png');
}

.label {
	-fx-padding: 0 0 0 3;
}
.list-view {
    -fx-background-color: -fx-control-inner-background;
    -fx-background-insets: 0;
	
    -fx-padding: 0;
}

.tree-view {
    -fx-background-color: -fx-control-inner-background;
    -fx-background-insets: 0;
	
    -fx-padding: 0;
}

.hyperlink:visited {
	-fx-text-fill: -fx-dark-text-color;
}

.dnd-below {
	-fx-border-color: black;
	-fx-border-width: 0 0 1 0;
}

.bottom-border {
	-fx-border-color: -fx-box-border;
	-fx-border-width: 0 0 1 0;
}

.inner-dialog {
	-fx-border-color: black;
	-fx-border-width: 2;
	
	-fx-background-color:white;
}

#dark-background {
    -light-black: rgb(74, 75, 78);
    -dark-highlight: rgb(87, 89, 92);
    -dark-black: rgb(39, 40, 40);
    -darkest-black: rgb(5, 5, 5);
    -mid-gray: rgb(216, 222, 227);
    -fx-base: -dark-black;
    -fx-font-size: 12pt;
    
    -fx-background-color: #333333;
        
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: .6em 0.416667em .6em 0.416667em;
    -fx-effect: dropshadow(two-pass-box,black,5,.2,0,0);
}

.segmented-button-bar .toggle-button {
    -fx-background-color: white, #333333;
    -fx-background-insets: 0, 1 1 1 0, 2 1 1 1;
    -fx-background-radius: 0;
    -fx-padding: 0.4em 1.833333em 0.4em 1.833333em;
}
 
.segmented-button-bar .toggle-button.first {
    -fx-background-insets: 0, 1, 2 1 1 1;
    -fx-background-radius: 3 0 0 3, 2 0 0 2, 2 0 0 2;
}
 
.segmented-button-bar .toggle-button.last {
    -fx-background-insets: 0, 1 1 1 0, 2 1 1 1;
    -fx-background-radius: 0 3 3 0, 0 2 2 0, 0 2 2 0;
}
 
.segmented-button-bar .toggle-button:pressed {
    -fx-background-color: white, #666666;
}

.segmented-button-bar .toggle-button:selected {
    -fx-background-color: white, #444444;
}

.segmented-button-bar .toggle-button:disabled:selected {
    -fx-background-color: white, #555555;
    -fx-opacity: 60%;
}

.no-border {
	-fx-border-color: transparent;
	-fx-border-width: 0;
}

/**
 * Font awesome CSS nabbed from http://www.jensd.de/wordpress/?p=132
 */

.root{
  -icons-color: rgb(61,114,144);
}
 
.icons{
    -fx-font-family: FontAwesome;
    -fx-font-size: 16px;
    -fx-text-fill: #444444;
}

/*******************************************************************************
 *                                                                             *
 * TableView                                                               *
 *                                                                             *
 ******************************************************************************/
.table-view {
    -fx-base: #1d1d1d;
    -fx-control-inner-background: #1d1d1d;
    -fx-background-color: #1d1d1d;
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
    -fx-padding: 5;
}

.table-view .column-header-background {
    -fx-background-color: transparent;
}

.table-view .column-header, .table-view .filler {
    -fx-size: 15;
    -fx-border-width: 0 0 1 0;
    -fx-border-color: 
        transparent
        transparent
        derive(-fx-base, 80%)
        transparent;
    -fx-border-insets: 0 10 1 0;
}
.table-view .column-header .label {
    -fx-font-size: 10pt;
    -fx-font-family: "Arial";
    -fx-text-fill: white;
    -fx-alignment: center-left;
    -fx-opacity: 1;
}
.table-view:focused .table-row-cell:filled:focused:selected {
    -fx-background-color: -fx-focus-color;
}